html {
  height: 100%;
  background: #ff8c00;
}
body {
  font-family: "Segoe UI", helvetica, arial, sans-serif;
  background: #ff8c00;
  color: #333;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
header, section, footer {
  display: block;
}
header {
  position: relative;
  background: url(microsoft-rev-01.png) 5px 0 no-repeat #ff8c00;
  background-size: auto 4vh;
  z-index: 3;
  margin: 10em auto;
  width: 60%;
  transition: 1s;
}
.sent header {
  width:100%;
  margin: 0 auto;
  transition: 1s;
}
.sent header ul {
  display: none;
}
header ul {
  float: right;
  padding-right: 150px;
}
header a {
  color: #000;
}
header li {
  line-height: 1.3em;
  padding-bottom: .5em;
}
#getcamera {
  display: none;
}

#showimage {
  opacity: 0;
  transition: 1s;
}
.sent #showimage {
  opacity: 1;
}
.swipeinstructions {
  z-index: 1;
  width: 200px;
  border-radius: 10px;
  background: #00A4EF;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: -100px;
  left: calc(50% - 110px);
}
.sent .swipeinstructions {
  animation: whoop 5s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation: whoop 5s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
video {
  display: block;
  margin: 0;
  padding: 0;
}
canvas {
  display: none;
  margin: 0 auto;
}
/* Design of a card */
.card {
  float: left;
  display: block;
  -webkit-transform-origin: 50% 99%;
  transform-origin: 50% 99%;
  background: white;
  background: linear-gradient(to bottom, #fff,transparent);
  padding: 5px;
}
.cardcontainer {
  float: left;
  transform: translate(-50%,0);
  margin-left: 50%;
  text-align: center;
  background: white;
  background: linear-gradient(to bottom, #fff,transparent);
}

footer {
  clear: both;
}

/* Button designs */

.but-nope, .but-yay, .nopes, .yays {
  display: none;
}

.tinderesque .but-nope, .tinderesque .but-yay,
.tinderesque .nopes, .tinderesque .yays {
  display: inline-block;
}

.cardcontainer button {
  background: #0c0;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  font-size: 5vw;
  width: 6vw;
  height: 6vw;
  margin: 0;
  padding:0 .5vw;
  text-align: center;
  line-height: 6.3vw;
  display: block;
  position: absolute;
  bottom: 50%;
  right: -4vw;
}
.cardcontainer button:focus {
  outline: 0;
  background: #0f0;
}
.cardcontainer button.but-nope {
  background: #c00;
  position: absolute;
  bottom: 50%;
  right: auto;
  left: -4vw;
}
.cardcontainer .but-nope:focus {
  outline: 0;
  background: #f00;
}

.tinderesque .cardcontainer.yes .card {
  -webkit-animation: yay 0.7s ease-out;
  animation: yay 0.7s ease-out;
}
.tinderesque .cardcontainer.nope .card {
  -webkit-animation: nope 0.7s ease-out;
  animation: nope 0.7s ease-out;
}




a {color: lime;}
h1 {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
footer {
  background: transparent;
  clear: both;
  font-size: 10px;
  text-align: center;
  padding: 3em 0.5em 1em 0.5em;
}
.card {
  color: #000;
  margin: 0 auto;
}
.cardcontainer {
  position: relative;
  float: left;
}
.card img {
  display: block;
  height: 75vh;
}


.but-nope::after {
  content: 'meh';
  position: absolute;
  top: -250%;
  left: 30%;
  font-size: 30px;
  line-height: 35px;
  transform: rotate(-30deg);
  background: #c00;
  padding: .2em .4em;
  color: #fff;
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.nope .but-nope::after, .but-nope:hover::after {
  opacity: 1;
  top: -200%;
}
.but-yay::after {
  content: 'yeah!';
  position: absolute;
  top: -250%;
  right: 30%;
  line-height: 35px;
  font-size: 30px;
  background: #0c0;
  color: #fff;
  padding: .2em .4em;
  transform: rotate(30deg);
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.yes .but-yay::after, .but-yay:hover::after {
  opacity: 1;
  top: -200%;
}

form {
  padding-left: 200px;
  font-size: 2vw;
}
input[type=search] {
  width: calc(100% - 100px);
  font-size: 2vw;
}
input[type=submit] {
  font-size: 2vw;
  width: 50px;
  background: transparent;
  border: none;
}
button.video {
  background: transparent;
  border: none;
  padding: 0;
  border: none;
  margin: 0 auto;
  display: block;
}

@keyframes whoop {
  0 {
    top: -100px;
    opacity: 0;
  }
  50% {
    top: 200px;
    opacity: 0.8;
  }
  100% {
    top: -100px;
    opacity: 1;
  }
}
@-webkit-keyframes whoop {
  0 {
    top: -100px;
    opacity: 0;
  }
  50% {
    top: 200px;
    opacity: 0.8;
  }
  100% {
    top: -100px;
    opacity: 1;
  }
}

@keyframes yay {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@-webkit-keyframes yay {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}

@keyframes nope {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-40deg) translateY(-200px);
    opacity: 0;
  }
}

@-webkit-keyframes nope {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-40deg) translateY(-200px);
    opacity: 0;
  }
}

