body {
  font-family: helvetica, arial, sans-serif;
  background: #333;
  color: #ccc;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
header, section, footer {
  display: block;
  padding: 0.5em 1em;
}
header, footer {
  background: #000;
  background: linear-gradient(#111,#000);
}
canvas {
  display: none;
  margin: 0 auto;
}
.tweak canvas {
  display: block;
}
.tweak .cardlist {
  display: none;
}

a {color: lime;}
h1 {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
footer {
  background: transparent;
  clear: both;
  font-size: 10px;
  text-align: center;
  padding: 3em 0.5em 1em 0.5em;
}
.card {
  color: #000;
  width: 250px;
  height: 300px;
}
.cardcontainer {
  width: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.list ul.cardlist {
  margin: 0 0 10px 0;
  height: 300px;
}
img {display: block;}
.but-nope::after {
  content: 'nope';
  position: absolute;
  top: -35px;
  left: 20px;
  font-size: 30px;
  transform: rotate(-30deg);
  background: #c00;
  padding: .2em .4em;
  color: #fff;
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.but-nope:hover::after {
  opacity: 1;
  top: 35px;
}
.but-yay::after {
  content: 'yep';
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 30px;
  background: #0c0;
  color: #fff;
  padding: .2em .4em;
  transform: rotate(30deg);
  display: block;
  transition: 0.4s;
  opacity: 0;
}
.but-yay:hover::after {
  opacity: 1;
  top: 35px;
}
#results {
  opacity: 0;
  position: absolute;
  top: -20000px;
  transition: opacity 0.5s;
  margin: 0;
  padding: 0;
}
#results li {
  margin: 0;
  padding: 0 0 5px 5px;
  list-style: none;
  float: left;
}
#results.live {
  top: 0;
  position: relative;
  opacity: 1;
}
#counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.thumbs li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.maincontainer {
  position: relative;
  padding: 0 200px;
}
.thumbs-one {
}
.thumbs-two {
}
button.build {
  width: auto;
  font-size: 14px;
  background: #369;
  border-radius: 0;
}
.thumbs, h2 {
  opacity: 0;
  transition: 400ms;
}
.tweak .thumbs, .tweak h2 {
  opacity: 1;
  transition: 400ms;
}
.thumbs-one img, .thumbs-two img {
  width: 150px;
  float: left;
  margin: 5px;
  border: 2px solid transparent;
}
.thumbs-one img.current, .thumbs-two img.current {
  border: 2px solid white;
}
h2 {
  clear: both;
  float: left;
  width: 100px;
}
